/* WIDHTS */

.site-header { background-color: rgba(0, 0, 0, 0.2); }
	
.home .site-header.no-header-image {
	position: relative;
	top: auto;
	left: auto;
	}	

#site-banner-main,
.banner-right {
	position: relative;
	}

#site-banner-main { 
	width: 100%; 
	z-index: 10;
	}
.banner-right { 
	z-index: 1;
	}

/* EOF WIDTHS */

#site-banner {
	max-width: 980px;
	margin: auto;
	min-height: 45px;
	z-index: 5;
	position: relative;
	text-align: left;	
	}	
	
#site-banner > * {
	display: inline-block;
	zoom: 1; *display: inline;
	vertical-align: top;
	}
	
#site-banner-main { 
	float: left;
	display: table;
	vertical-align: top;
	position: relative;
	z-index: 0;
	}		
	
#site-banner.no-brand #site-banner-main { margin-left: -10px; }		
	
#site-banner-main > * {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	padding: 0;
	margin: 0;
	}	

#masthead .site-branding {
	display: table-cell;
	width: 1px;
	white-space: nowrap;
	position: relative;
	z-index: 1;
	}
	
.top-navigation {
	display: table-cell;
	width: 100%;
	}
	
#mobile-navigation,
#mobile-navigation-jquery { display: none; }		
	
.top-navigation > .menu ul li,
#site-branding > *,
.top-navigation ul li  {
	display: inline-block;
	zoom: 1; *display: inline;
	vertical-align: top;
	}	
	
#masthead .site-logo, /* Jetpack */
#masthead .site-title {
	margin: 0;
	margin-right: 20px;
}

#site-banner.blogname .site-title {
	display: table;
	}

.site-logo a,
.site-title a {
	display: block;
	padding: 10px 0;	
	}
	
#site-banner.blogname .site-title a {
	display: table-cell;
	width: 1px;
	white-space: nowrap;	
	}	
	
.site-logo a { 
	height: 40px; 
	box-sizing: content-box;
	}	
	 
.site-logo img {
	height: 40px;
	max-width: inherit;
	display: block;
	}

.site-title a {
	display: block;
	line-height: 28px;
	padding: 16px 0;	
}

.site-title a:hover {
	color: #199cd8;
}	

.top-navigation ul li a {
	line-height: 24px;
	display: block;
	}	

.top-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.top-navigation li {
	position: relative;
}

.top-navigation a {
    color: #fff;
	display: block;
    font-weight: 300;
	line-height: 16px;
	text-decoration: none;
}

.top-navigation a:hover {
    color: #199cd8;
}

.top-navigation ul ul,
.top-navigation ul li > h2 {
	float: left;
	position: absolute;
	left: -999em;
	z-index: 99999;
    top: auto;
}

.top-navigation ul ul ul {
	left: -999em;
	padding-top: 0;
    top: 0;
}

.top-navigation ul ul a {
    background-color: #f0f0f0;
    display: block;
    color: #fff;
    text-transform: none;
	width: 200px;
}

.top-navigation ul ul li {
    text-align: left;
}

.top-navigation ul ul li a { padding: 9px 10px; }
.top-navigation ul ul li:first-child a { padding-top: 18px; }
.top-navigation ul ul li:last-child a { padding-bottom: 18px; }

.top-navigation li:hover > a {
}

.top-navigation ul ul :hover > a {
}

.top-navigation ul ul a:hover {
}

.top-navigation ul li {
	display: inline-block;
} 

.top-navigation ul li a {
	padding: 18px 10px;
}

.top-navigation ul li:hover > ul {
	left: auto;
}

.top-navigation ul ul li:hover > ul {
	left: 100%;
}

.top-navigation .current_page_item > a,
.top-navigation .current-menu-item > a,
.top-navigation .current_page_ancestor > a {
}

.banner-right {
	line-height: 40px;
	text-align: right;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	}
	
.hr-social {
	display: table;
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
	float: left;
	vertical-align: top;
	height: 100%;	
	}		
	
.hr-social li {
	display: table-cell;
	vertical-align: middle;
	box-sizing: content-box;
	padding: 8px 6px;
	margin: 10px 0;
	}

.hr-social li:last-child {
	padding-right: 0;
	}
		
.hr-social li a {
	display: block;
	height: 24px;
	}	
	
	
.hr-social > li a img {
	width: 24px;
	height: 24px;
	max-width: inherit;
	}			
	
.banner-right .search-form {
	padding: 13px 0;
	height: 60px;
	float: left;
	}

.banner-right .search-form label { 
	display: table;
	float: right;
	vertical-align: middle; 
	margin-bottom: 0;
	}	
	
.banner-right .search-form input[type="search"] {
	display: table-cell;
	padding: 8px 10px;
	height: 34px;
	box-sizing: border-box;
	}	

#header-button-container {
	float: left;
	line-height: 60px;
	display: table;
	}
	
#header-button-container-inner {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	}	

#header-button-container-inner > * {
	display: inline-block;
	zoom: 1; *display: inline;
	vertical-align: middle;
	margin: -2px 0 0 10px;
	text-align: center;
	}	
	
#header-button-container-inner > *:first-child {
	margin-left: 0;
	}				
	
.menu-open,
.dashicons.menu-open,
.menu-close,
.dashicons.menu-close { display: none; }	
	
@media screen and (max-width: 980px) {

	.menusize-autowidth #site-banner {
		padding: 0 20px;	
	}

}

@media screen and (max-width: 850px) {
	
	/* HEADER RIGHT SIDE CONTENT REPOSITIONING */
	
	#masthead #site-navigation {
		display: table-cell;	
	}
	
	#masthead.is-right #site-navigation { padding-left: 0; }	
	
	#masthead .site-branding,
	#masthead #site-navigation,
	#masthead #site-navigation > div {
		display: inline-block;
		zoom: 1; *display: inline;
		width: auto;
	}
		
	#masthead.is-right,
	#masthead.is-right #site-banner { 
		padding: 0!important; 
	}
	
	#masthead.is-right .top-navigation > div > ul,
	#masthead.is-right #header-button-container-inner,
	#masthead.is-right ul.hr-social,
	#masthead.is-right ul.hr-social li {
		display: inline-block;
		zoom: 1; *display: inline;	
	}
	
	#masthead #site-banner-main {
		display: block;	
	}
	
	#masthead.is-right #site-banner-main {
		padding-top: 36px!important;	
	}	
	
	#masthead.is-right #site-banner-main > * {
		padding-left: 20px;	
	}
	
	#masthead.is-right #site-banner-main > #site-navigation {
		padding-left: 0;	
	}
	
	#masthead.is-right #masthead .site-branding,
	#masthead.is-right .top-navigation {
		position: relative;
		z-index: 1;	
	}
	
	#masthead.is-right .top-navigation {
		z-index: 1;	
	}
	
	#masthead.is-right .banner-right {
		display: block;
		width: 100%;
		padding: 0!important;
		z-index: 0;			
	}
	
	#masthead.is-right.menu-small .banner-right {
		top: -8px;		
	}

	#masthead.is-right #header-button-container,
	#masthead.is-right ul.hr-social,
	#masthead.is-right .banner-right .search-form {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		line-height: 36px;
		background: rgba(0, 0, 0, 0.075);
		border-bottom: rgba( 255, 255, 255, 0.25 ) solid 1px;
		padding-right: 20px;
	}
	
	#masthead.is-right ul.hr-social {
		height: auto;	
		text-align: right;
	}
	
	#masthead.is-right ul.hr-social li {
		padding-top: 0;
		padding-bottom: 0;
		margin: 0;	
	}
	
	#masthead.is-right .banner-right .search-form {
		padding: 0 20px 0 0;
		height: auto;	
	}
	
	#masthead.is-right .banner-right .search-form input[type="search"] {
		padding: 3px 5px;
		height: 30px;	
		line-height: 24px;	
		margin: 3px 0;
	}
	
	#masthead.is-right #header-button-container-inner {
		line-height: 36px;	
	}	
	
	#masthead #header-button-container-inner {
		vertical-align: top;	
	}
	
	#masthead.is-right button, 
	#masthead.is-right .button, 
	#masthead.is-right input[type="reset"], 
	#masthead.is-right input[type="submit"], 
	#masthead.is-right input[type="button"] {
		line-height: 22px;
		padding: 0 10px;		
	}		
	
	/* EOF HEADER RIGHT SIDE CONTENT REPOSITIONING */
	
}

@media screen and (max-width: 620px) {
	
	#mobile-navigation,
	#mobile-navigation-jquery { float: left; } 
	
	#page { 
		float: right; 
		width: 100%;
		position: relative;
		}	
	
	#site-banner-main {
		text-align: center;
		}
	
	#masthead #site-navigation {
		display: none;
		}
		
	.site-logo, /* Jetpack */
	.site-title {
		margin-right: 0;
	}		
	
	#site-banner-main .site-branding {
		display: inline-block;
		zoom: 1; *display: inline;
		width: auto;
		position: relative;
		z-index: 1;
		}		
					
    .menu-open,
	.dashicons.menu-open,
	.menu-close,
	.dashicons.menu-close,
	.dashicons, 
	.dashicons-before::before {
		display: block;
		position: absolute;
		top: 0;
		left: 0;		
		line-height: 36px;
		width: 36px!important;
		height: 36px!important;
		padding: 12px;
		box-sizing: content-box;
		font-size: 36px!important;
		cursor: pointer;
		color: black;
		z-index: 9999;		
    }
			
	.menu-open:before {
		content: "\f333";
	}
	
	.menu-close:before {
		content: "\f158";
		}		
	
	/* HEADER RIGHT SIDE CONTENT REPOSITIONING */
		
	.menu-open.is-right,
	.menu-open.no-right.is-woo,
	.dashicons.menu-open.is-right,
	.dashicons.menu-open.no-right.is-woo,
	.menu-close.is-right,
	.menu-close.no-right.is-woo,
	.dashicons.menu-close.is-right,
	.dashicons.menu-close.no-right.is-woo,
	.dashicons.is-right,
	.dashicons.no-right.is-woo, 
	.dashicons-before.is-right:before,
	.dashicons-before.no-right.is-woo:before {
		top: 36px;	
	}	
	
	/* HEADER RIGHT SIDE CONTENT REPOSITIONING */	
	
}

@media screen and (max-width: 480px) {
	
	/* HEADER RIGHT SIDE CONTENT REPOSITIONING */

	#masthead.is-right.is-woo #header-button-container-inner > * {
		display: none;	
	}

	/* EOF HEADER RIGHT SIDE CONTENT REPOSITIONING */
	
}