.tesseract-post-list .tesseract-post-compact {
  padding: 30px 0 40px;
  border-bottom: 1px solid #DDD; }
  .tesseract-post-list .tesseract-post-compact:after {
    content: "";
    display: table;
    clear: both; }
  .tesseract-post-list .tesseract-post-compact .post-header {
    float: left;
    width: 30%;
    margin-right: 5%; }
    .tesseract-post-list .tesseract-post-compact .post-header .featured-image img {
      max-width: 100%;
      height: auto; }
    .tesseract-post-list .tesseract-post-compact .post-header .date, .tesseract-post-list .tesseract-post-compact .post-header .author {
      color: #888; }
    .tesseract-post-list .tesseract-post-compact .post-header .date {
      font-weight: 700; }
  .tesseract-post-list .tesseract-post-compact .entry {
    float: left;
    width: 65%; }
    .tesseract-post-list .tesseract-post-compact .entry .title {
      font-size: 28px;
      word-spacing: -1px;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 700; }
    .tesseract-post-list .tesseract-post-compact .entry .content {
      font-size: 14px; }
  @media screen and (max-width: 480px) {
    .tesseract-post-list .tesseract-post-compact .post-header, .tesseract-post-list .tesseract-post-compact .entry {
      float: none;
      width: 100%; } }
.tesseract-post-list .tesseract-post-vertical {
  padding: 30px 0 40px;
  border-bottom: 1px solid #DDD; }
  .tesseract-post-list .tesseract-post-vertical .post-header {
    margin-bottom: 20px; }
    .tesseract-post-list .tesseract-post-vertical .post-header .author-and-date {
      color: #888;
      font-weight: 700; }
    .tesseract-post-list .tesseract-post-vertical .post-header .title {
      font-size: 28px;
      word-spacing: -1px;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 700; }
    .tesseract-post-list .tesseract-post-vertical .post-header .featured-image {
      max-height: 480px;
      overflow: hidden; }
      .tesseract-post-list .tesseract-post-vertical .post-header .featured-image img {
        max-width: 100%;
        height: auto; }

.tesseract-pagination .page-numbers {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .tesseract-pagination .page-numbers li {
    display: inline-block;
    margin-right: 5px; }
    .tesseract-pagination .page-numbers li a {
      display: inline-block;
      padding: 5px; }
